body{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table{
    width: 80%;
    margin: 2% auto;
    border: 1px black solid;
}

th,
td{
    padding: 2%;
    border: 1px black solid;
}

.cari{
    margin-top: 2%;
}